
<div class="row">
    <div class="col-mid-4"></div>
    
    <div class="col-md-4 text-center">
      
      
       
    <h3 class="test"> <marquee scrollamount="10">ITEM DETAIL VIEW</marquee></h3>
    
    <table class="table-dark">
  
        <tr>
            <th>ITEM ID</th>&nbsp;&nbsp;   &nbsp;&nbsp;

            <th>ITEM NAME </th>   &nbsp;&nbsp;   &nbsp;&nbsp;
            <th>PRICE</th>   &nbsp;&nbsp;   &nbsp;&nbsp;
            <th>STOCK </th>   &nbsp;&nbsp;   &nbsp;&nbsp;
            <th>COMPANY </th>   &nbsp;&nbsp;   &nbsp;&nbsp;


         
        </tr>
    
    </table>
    
   <tbody id="contents" *ngFor=" let elements of results">
 
    <tr *ngIf="id==elements[0]">



        <td>{{elements[0]}}</td> &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;   
        <td>{{elements[1]}} </td> &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  
        
        <td>{{elements[2]}}</td> &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;
        <td>{{elements[3]}}</td> &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;   &nbsp;&nbsp;
        <td>{{elements[4]}}</td> &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;   &nbsp;&nbsp;
        <!-- <td><button type="button" (click)="edit(elements[0])">Edit</button></td>
        <td><button type="button" (click)="edit(elements[0])">Delete</button></td>
        <td></td> -->





    </tr>






</tbody>
    
    
<button type="button">ADD</button>&nbsp;&nbsp;
<button type="button">EDIT</button>&nbsp;&nbsp;
<button type="button">DELETE</button>&nbsp;&nbsp;
    
    </div>
    
    
    
    
    </div>