<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="tb">
                <h1 class="head">Available Items</h1>
            <!-- <h1>kk</h1> -->
            <table class="table">
            
                <tr>
                    <td>Item id</td>
                    <td>Item name</td>
                </tr>
                <tr *ngFor="let details of result">
                    <td>{{details[0]}}</td>
                    <td>{{details[1]}}</td>
                    <td><button type="button" class="btn btn-outline-primary" [routerLink]="['/view', details[0]]">View Details</button></td>
                </tr>

            </table>
            <div class="btn1">
                <button type="button" class="btn btn-success" (click)="add()">ADD A NEW MEMBER</button>
            </div>
        </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>