
<section>
    <div class="container">
        <div class="form">
            <h1 class="h1">UPDATE</h1>

            <form>

                <br>
                <div class="mb-3 inputBox">

                    <input type="text" class="form-control" id="" name=" id" placeholder="Item id" [(ngModel)]="iemid">

                </div> <br>
                <div class="mb-3 inputBox">

                    <input type="text" class="form-control" id="" name="name" placeholder="Item name" [(ngModel)]="iemname" >
                </div> <br>
                <div class="mb-3 inputBox">

                    <input type="text" class="form-control" id="" name="adress1" placeholder="price"  [(ngModel)]="iemprice">
                </div> <br>
                <div class="mb-3 inputBox">

                    <input type="text" class="form-control" id="" name="stk" placeholder="stock" [(ngModel)]="iemstock" >
                </div> <br>
                <div class="mb-3 inputBox">

                    <input type="text" class="form-control" id="" name="com" placeholder="company" [(ngModel)]="iemcompany" >
                </div> <br>


                <br>
                

                <br>

              



            </form>
        </div>
    </div>
    <div><button type="button" class="btn btn-success" (click)="update()">update</button></div>
</section>
