<section>
    <div class="container">
        <div class="form">
            <h1>ADD NEW MEMBER</h1>

            <form>

                <br>
                <div class="mb-3 inputBox">

                    <input type="text" class="form-control" id="" name=" id" placeholder="Item id" [(ngModel)]="itemid">

                </div> <br>
                <div class="mb-3 inputBox">

                    <input type="text" class="form-control" id="" name="name" placeholder="Item Name" [(ngModel)]="itemname" >
                </div> <br>
                <div class="mb-3 inputBox">

                    <input type="text" class="form-control" id="" name="adress1" placeholder="Price"  [(ngModel)]="price">
                </div> <br>
                <div class="mb-3 inputBox">

                    <input type="text" class="form-control" id="" name="stk" placeholder="Stock" [(ngModel)]="stock" >
                </div> <br>
                <div class="mb-3 inputBox">

                    <input type="text" class="form-control" id="" name="com" placeholder="Company" [(ngModel)]="company" >
                </div> <br>


                <br>
                <div><button type="button" class="btn btn-primary onee " (click)="insert()">Insert</button></div>

                <br>





            </form>
        </div>
    </div>
    
</section>
